.card {
    text-decoration: none;
    color: inherit;
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
    border: 2px solid #ffffff5d;
    border-radius: 0.75rem;
    padding: 1rem;
    background-color: rgba(34, 49, 58, 0.5);
    transition: border-color 0.15s;
}

.card:hover {
    border-color: var(--color-mustard);
}
